<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Google Maps</title>
    <link rel="stylesheet" th:href="@{/dashboardStyle.css}">
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDwwxRlB8YZVdQJBnWr0m5HsLWaqd4Txgk&callback=initMap"></script>
    <script th:src="@{/dashboardJS.js}"></script>

</head>

<body onload="initMap()">

<div id="map" style="height: 559px; width: 96.8%;"></div>
<div id="side-panel"></div>
<div id="left-panel" class="hidden">
    <div id="top-section"></div>
    <div id="bottom-section">
        <div class="lat"></div>
        <div class="long"></div>
    </div>
</div>
<form>
    <input type="text" placeholder="Enter Device ID" id="device-id-input">

</form>

</body>

</html>